APP_PORT=8082
POSTGRES_HOST_PORT=5435
POSTGRES_DB=db_ventas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CAMBIAR_ESTA_CLAVE_LOCAL
SPRING_PROFILES_ACTIVE=dev
DEV_JWT_SECRET=CAMBIAR_ESTA_CLAVE_LOCAL_DE_AL_MENOS_32_CARACTERES
DEV_JWT_ISSUER=http://localhost:8081/dev-issuer
COGNITO_ISSUER_URI=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_REEMPLAZAR
COGNITO_JWK_SET_URI=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_REEMPLAZAR/.well-known/jwks.json
COGNITO_AUDIENCE=agrocenter-api
INVENTORY_SERVICE_URL=http://host.docker.internal:8081
INVENTORY_CONNECT_TIMEOUT=2s
INVENTORY_READ_TIMEOUT=3s
INVENTORY_SERVICE_TOKEN=
SWAGGER_ENABLED=true
JAVA_TOOL_OPTIONS=-XX:MaxRAMPercentage=75.0 -XX:+ExitOnOutOfMemoryError
